.form-control 
  min-width: 100px !important


.workingHours .form-control
  height: 40px

.workingHours .input-group
  height: 100%

.workingHours .input-group-text
  height: 40px

.workingHours .input-group > .btn
  height: 40px

.workingHours .alert 
  margin-bottom: 0px
  height: 40px
  display: flex
  align-items: center